<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
</head>
<body>
<a href="http://www.baidu.com">首页</a>
<ul id="hot">
    <li><a href="http://www.baidu.com/product/1.html">产品1</a></li>
    <li><a href="http://www.baidu.com/product/2.html">产品2</a></li>
    <li><a href="http://www.baidu.com/product/3.html">产品3</a></li>
    <li><a href="http://www.baidu.com/product/4.html">产品4</a></li>

</ul>
<div>
    <a href="http://www.baidu.com/product/hot1.html">热门产品1</a>
</div>
<div id="new"></div>
</body>
<script>
    var products = [
        ["http://www.baidu.com/product/4.html", "产品4"],
        ["http://www.baidu.com/product/5.html", "产品5"],
        ["http://www.baidu.com/product/6.html", "产品6"],
        ["http://www.baidu.com/product/7.html", "产品7"],
    ];
    var html = '<ul>';
</script>
</html>

a = {"var1": {"key6", "data2"}, "var2":{"key2", "data1"}, "var3": {"dataw", "333", "bbss"}}
执行结果：
键名：var3
值： 333